<% layout("./layouts/boilerplate.ejs")%>
<body>
  <div class="row">
    
    <div class="col">
       <a href="/cuisine?cuisine=Indian">
           <div class="card pocketCards ">
             <div class="card-body">
              <p>Indian</p>
            
             </div>
          </div>
        </a>
        <a href="/cuisine?cuisine=Italian">
            <div class="card pocketCards ">
              <div class="card-body">
               <p >Italian</p>
              
              </div>
           </div>
         </a>
    
        <a href="/cuisine?cuisine=Mexican">
            <div class="card pocketCards ">
              <div class="card-body">
               <p >Mexican</p>
              
              </div>
           </div>
         </a>
    
        <a href="/cuisine?cuisine=American">
            <div class="card pocketCards ">
              <div class="card-body">
               <p>American</p>
               
              </div>
           </div>
         </a>
         <a href="/cuisine?cuisine=French">
            <div class="card pocketCards ">
              <div class="card-body">
               <p >French</p>
              
              </div>
           </div>
         </a>
         <a href="/cuisine?cuisine=Spanish">
            <div class="card pocketCards ">
              <div class="card-body">
               <p >Spanish</p>
              
              </div>
           </div>
         </a>

  </div>
 
</body>