<% layout("./layouts/boilerplate.ejs")%>
<body>
  <div class="row">
    
    <div class="col">
       <a href="/cooking-duration?max=20">
           <div class="card  timeCard ">
             <div class="card-body">
              <p>Cook under 20 minutes</p>
            
             </div>
          </div>
        </a>
    
        <a href="/cooking-duration?max=30">
            <div class="card timeCard ">
              <div class="card-body">
               <p >Cook under 30 minutes</p>
              
              </div>
           </div>
         </a>
    
        <a href="/cooking-duration?max=50">
            <div class="card  timeCard  ">
              <div class="card-body">
               <p>Cook under 50 minutes</p>
               
              </div>
           </div>
         </a>
     

  </div>
 
</body>