<% layout("./layouts/boilerplate.ejs")%>
<body>
  <div class="row">
    <h2>Select the ingredients</h2>
    <div class="col">
    <% for(let i=0;i< ingredients.length;i++) {%>
          <a href="recipe_no/<%=i%>">
           <div class="card ">
            <div class="card-body">
               <% for(let j=0; j<ingredients[i].length;j++){%>
         
             
               <p><%=ingredients[i][j]%></p>
               <% } %>
            
            </div>
         
            
            </div>
          </a>
        
       
      
     <%}%>
  </div>
  </div>
 
</body>